@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body.main{
    background-color: var(--bg-black-900);
}
.pad-top-15{
    padding-top:15px;
    padding-left: 6%;
}
.pad-10{
    padding-left:20px;
}
.pad-top{
    padding-top:10px;
}
.top{
    margin-top: -5%;
}
.same-line{
    display: inline-block;
}
nav .logo{
    float: left;
    width: 30%;
}
.container-fluid .section-img{
    flood-opacity: 10%;
    display:block;
    width:100%;
    height: 80%;
    opacity: 0.8; /*can only be between 0 and 1*/
}
nav a{
    color:black;
    text-decoration:none;
}
.title{
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    font-weight:600;
}
.super-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.sub-title{
    font-family: 'Poppins', sans-serif;
    font-size: xx-small;
    color: var(--text-black-700);
}
.bel-img{
    margin-top: 40%;
}

.box{
    display: inline-block;
    width: 150px;
    height: 175px;
    background-color: var(--bg-black-100);
    cursor:pointer;
    margin-right: 2%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
} 
.box img{
    width:100px;
    height:100px;
}
a{
    text-decoration:none;
}
.box a .title{
    color:var(--text-black-900);
}
.round{
    border-radius: 25px;
    width: 75px;
    height: 75px;
}
.float-right{
    float: right;
    width: 50%;
}
.content-center{
    text-align: center;
}
.hyper{
    color:black;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.footer{
    background-color: var(--text-black-900);
    display: block;
    height: 250px;
}
.side-footer{
    position: relative;
    top: -20px;
    margin:auto;
    padding-left:40px;
    text-align: left;
}
.fa {
    color:var(--bg-black-900);
    padding-right: 20px;
    padding-top: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    opacity:0.7;
}
.social{
    position: relative;
    text-align: left;
    top:0px;
    padding-left:40px;
}