<!DOCTYPE html>
<html>
    <head>
        <!--Mobile-first styles are part of the core framework.
        To ensure proper rendering and touch zooming, add the following <meta>
        tag inside the <head> element:-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static\loader.css">
        <!--setting title-->
        <title> Healthify</title>
        <link rel="icon" sizes="1140*1140" type="image/ico" href="\static\images\logo_healthify.ico">
    </head>
   <body class = 'loader'>
      <script>
         setTimeout(function(){
            window.location.href = 'http://127.0.0.1:5000/HomePage'; //change this to link when u get doamin
         }, 4250);
      </script>
      <div id = loader>
        <h1>
            <span class="let1">w</span>  
            <span class="let2">e</span>  
            <span class="let3">l</span>  
            <span class="let4">c</span>  
            <span class="let5">o</span>  
            <span class="let6">m</span>  
            <span class="let7">e</span>
            <br><br>
            <span class="let1">t</span>
            <span class="let7">o</span>
            <br><br>
            <span class="let1">h</span>  
            <span class="let2">e</span>  
            <span class="let3">a</span>  
            <span class="let3">l</span>
            <span class="let4">t</span>  
            <span class="let5">h</span>  
            <span class="let6">i</span>  
            <span class="let7">f</span>  
            <span class="let8">y</span>  
          </h1>
    </div>
   </body>
</html>